<mat-toolbar >
  <button mat-stroked-button class="button" aria-label="Products" [routerLink]="['/products']" style="font-size: 20px;">
    Shopping App
  </button>
  <span class="spacer"></span>
  <button mat-icon-button class="favorite-icon" aria-label="Cart" [routerLink]="['/cart']">
    <span class="material-icons">shopping_cart</span>
  </button>
  <button mat-icon-button class="favorite-icon" aria-label="Contact" [routerLink]="['/contact-us']">
    <span class="material-icons"><span class="material-icons">contact_phone</span></span>
  </button>
</mat-toolbar>