td.mat-footer-cell,.mat-footer-row {
    border-bottom: none;
}
.float-child{
    align-self: center;
    padding-top: 20px;
}
.form-group{
    margin-bottom: 2rem;
}

th.mat-header-cell{
    font-size: 14px;
}
button{
    background-color: #272c30;
    color: white;
}